@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  // background: #0c0820 !important;
  font-family: 'DM Sans', sans-serif;
  // height: 100vh;
  margin: auto;
  scroll-behavior: smooth;
  // overflow-y: hidden;
}
.ReactCollapse--collapse {
  transition: height 500ms;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

p {
  @apply text-base;
}
.background {
  background: linear-gradient(
    90deg,
    #75bcdd 0%,
    #5aadd3 2.94%,
    #3c9fc9 6.54%,
    #2b97c3 9.01%,
    #1e90bd 11.87%,
    #1a8fbd 15.75%,
    #1f90be 20.11%,
    #2794c1 23.66%,
    #3299c5 26.52%,
    #3a9fc8 28.9%,
    #47a4ce 32.43%,
    #5cafd7 36.93%,
    #6bb8dd 41.07%,
    #6ab9de 44.32%,
    #6ab9de 50.23%,
    #66b7dd 54.67%,
    #6dbadf 57.54%,
    #71bde0 60.79%,
    #75bde0 65.89%,
    #70bce1 67.85%,
    #6ebadf 75.45%,
    #6cbadf 80.63%,
    #6cb9df 85.54%,
    #6cb9df 88.09%,
    #68b6dc 89.83%,
    #61b2d9 91.79%,
    #59aed5 93.73%,
    #50a9d2 95.64%,
    #3c9eca 100%
  );
}
.drop-down {
  display: none;

  &.open-faq {
    display: flex;
  }
}

input ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply text-Gray;
}

.truck-image {
  // transform: matrix(-1, 0, 0, 1, 0, 0);
}

.card-border {
  border: 1px solid #eeeeee;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}
.polygonshape {
  clip-path: polygon(0 40%, 0 0, 100% 1%, 100% 40%, 48% 77%);
  background-color: #1a8fbd;
}
.drilling {
  background-image: url('/img/TheDrillingProcess.png');
  width: 100%;
  height: 100vh;
}
// .open-faq {
//   display: flex;
//   transition: display 1s linear;
// }

.contact-box-shadow {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.carousel-dots {
  .react-multi-carousel-dot {
    button {
      @apply bg-lightBlue border-none opacity-50 w-2 h-2;
    }
    &.react-multi-carousel-dot--active {
      button {
        @apply bg-darkBlue opacity-100 w-[10px] h-[10px];
      }
    }
  }
}
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.box {
  position: relative;
  background-color: white;
  margin: 0 auto;
  height: auto;

  border-radius: 4px;
  padding: 4px;
  border: 1px solid #999;
  overflow: auto;
  // margin-top: 15px;
  @apply sm:w-2/4  w-3/4;
}
.sliderLeft {
  justify-items: center;
  position: fixed;
  cursor: pointer;
  left: calc(24% - 30px);
  top: calc(53vh - 33px);
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.sliderRight {
  justify-items: center;
  position: fixed;
  cursor: pointer;
  right: calc(24% - 30px);
  top: calc(53vh - 33px);
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.close-icon {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0px;
  background: #212121;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.sliderImage {
  width: -webkit-fill-available;
}

.art-update {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 93% 54%, 86% 76%, 78% 100%, 44% 100%, 0 100%, 0 0);
  clip-path: polygon(20% 0%, 80% 0%, 93% 54%, 86% 76%, 78% 100%, 44% 100%, 0 100%, 0 0);
}
